Question 1

         (i) var1 = "Bhanu" 
        (ii) var2 = [1,2,3] 
        (iii)var3 = 22.7 
        (iv) var4 = (1, 2, 3)

Question 2

    (i) String 
    (ii)String
    (iii)List
    (iv) float

Question 3

    (i) '/' Division operator
         returns the quotient of the division
    (ii) '%' Modulo operator
         returns the remainder of the division operator
    (iii)'//' Floor division operator
         returns the quotient of the division and rounded to the nearest interger
    (iv)'**' Exponentiation operator
         returns the number to the power of the number

Question 4

In [4]:
list = [1, 2, 3, "Bhanu", "prasad", 6, 7, 8, "Raju", "Krish"]
for i in list:
    print("element:{}".format(i), "DataType:", type(i))

element:1 DataType: <class 'int'>
element:2 DataType: <class 'int'>
element:3 DataType: <class 'int'>
element:Bhanu DataType: <class 'str'>
element:prasad DataType: <class 'str'>
element:6 DataType: <class 'int'>
element:7 DataType: <class 'int'>
element:8 DataType: <class 'int'>
element:Raju DataType: <class 'str'>
element:Krish DataType: <class 'str'>

Question 5

In [17]:
def Fun(A,B):
    while True: 
        if A%B==0:
            return A/B
        else:
            return 0
A=int(input())
B=int(input())
res=Fun(A,B)
print(f"No.of times:{res}")

 20
 6

No.of times:0

Question 6

In [16]:
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list:
    if i%3 == 0:
        print("number is divisible by 3")
    else:
        print("number is not divisible by 3")

number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3
number is not divisible by 3
number is divisible by 3
number is not divisible by 3

Question 7

    Mutable: the values of an object is changed after it is created 
    eg:list
    Immutable: the values of the objects cannot be changed after an object is created
    eg:string